@use '../abstracts/variables' as *;

.ageCounter{
    position: absolute;
    top: $padding * 2;
    left: $padding * 2;
    color: rgb(211, 0, 0);
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    height: auto;
}

.ageCounter.hidden{
    display: none;
}