@use '../layout/flexbox' as *;

canvas{
    border: 3px solid black;
    border-radius: 2px;
    cursor: crosshair;
    forced-color-adjust: none;
}

.canvas-container{
    max-height: 100%;
    min-height: 0;
    min-width: 0;
    overflow: auto;
    border: 5px solid white;
    flex: 1;
}

.canvas-scroll-container{
    overflow: scroll;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    min-width: 0;
    min-height: 0;
}

.canvas-age-container{
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    min-width: 0;
    min-height: 0;
}

.canvas-wrapper{
    width: fit-content;
    height: fit-content;
    padding: 0;
}

.not-allowed-cursor{
    cursor: not-allowed;
}

