@use '../abstracts' as *;

.presetDropdown{
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.3;
    color: $secondary-color;
    background: $primary-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}