@use '../abstracts' as *;
@use '../layout/flexbox' as *;
@use '../utilities/typography' as *;

$info-box-button-width: 120px;
$info-box-button-height: 30px;

$info-box-collapsed-width: $info-box-button-width + $padding * 2;
$info-box-collapsed-height: $info-box-button-height + $padding * 2;

$info-section-collapsed-height: $info-box-collapsed-height + $padding * 2;

$image-description-padding: 5px;
$image-container-size: 250px;

.info-section{
    @extend .flex-column;
    @extend .justify-start;
    @extend .items-start;
    @extend .of-hidden;
    height: 35%;
    width: 100%;
    transition: height 1s ease, flex 1s ease;

    @media (max-aspect-ratio: $horizontal-mode-ratio) {
        align-items: center;
    }

}

.info-section.collapsed{
    @extend .flex-no-shrink-fill;
    height: calc(var(--info-box-button-height, 30px) + 4 * $padding);
    transition: height 1s ease, flex 1s ease;

    .info-box-container{
        height: calc(var(--info-box-button-height, 30px) + 2 * $padding);
        width: calc(var(--info-box-button-width, 120px) + 2 * $padding);
        transition: height 1s ease, width 1s ease;
    }

    .info-box-content{
        display: none;
    }
}

.info-box-container{
    @extend .of-hidden;
    @include outlined($secondary-color);
    height: 100%;
    width: 100%;

    position: relative;

    border: 2px solid white; 
    color: white;

    padding: $padding;
    transition: height 1s ease, width 1s ease;
}

.info-box-hide-button{
    position: absolute; 
    top: $padding * 0.75;
    right: $padding * 0.75; 
    width: fit-content;
    height: fit-content;
    font-size: 1.2em;
    z-index: 1;
}

.info-box-content{
    @extend .flex-column;
    @extend .justify-start;
    @extend .of-auto;
    width: 100%;
    height: 100%;
}

.info-box-title{
    text-align: left; 
    width: 100%;
}

.info-box{
    @extend .flex-row;
    padding: 0;
    width: 100%; 
    align-items: flex-start;
}

.info-box.gallery{
    flex-direction: column;
}

.info-box-text{
    font-size: 1.2em; 
    font-weight: bold; 
    flex: 1 1 auto;
}

.info-box-image-container{
    @extend .flex-column;
    @extend .justify-center;
    @extend .items-center;
    flex: 0 0 fit-content;
    height: fit-content; 
    min-width: 0;
}

.info-box-image-container.gallery{
    @extend .items-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


.image-description-container{
    @extend .flex-column;
    gap: $image-description-padding;
    width: $image-container-size;
    height: fit-content;
}

.info-img{
    width: 100%;
    height: auto;
}

.img-desc{
    font-size: 0.9em;
    text-align: left;
}

