.tooltip{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    min-width: 20px;
}