.warningBox{
    max-width: 100px; 
    height: auto; 
    width: auto; 
    position: absolute; 
    top: 15px; right: 15px; 
    background-color: white; 
    color: red; 
    border: 2px dotted rgb(161, 161, 161); 
    border-radius: 5px; 
    padding: 5px; 
    z-index: 1000;
    font-size: 14px;
    font-weight: bold;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}