@use '../abstracts' as *;

.horizontal-flex{
    display:flex;
    gap: $spacing-hflex;
    justify-content: center;
    align-items: center;
}

.flex{
    align-items: stretch;
}

.vertical-flex{
    display:flex;
    flex-direction: column;
    gap: $spacing-vflex;
    justify-content: center;
    max-height: 100vh;
    height:100%;
}

.vertical-flex-between{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.fitting-content{
    height: fit-content;
    max-height: 100%;
    overflow: auto;
}

.fill-height{
    height: 100%;
}

.centered-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.filling-container{
    width: 100%;
    height: 100%;
}

.grid-3-col{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: $spacing-grid;
    justify-content: center;
}

.grid-5-col{
    display:grid;
    grid-template-columns: repeat(5, auto);
    gap: $spacing-grid;
    justify-content: center;
}

.font-bold{
    font-weight: bold;
}

.vertical-scrollbar{
    overflow-y: auto;
}

.no-shrink{
    flex-shrink: 0;
}

.shrink{
    flex-shrink: 1;
    overflow-y: auto;
    min-height: 0;
}