$padding: 10px;
$flex-gap: 20px;
$inline-block-gap: 5px;

$spacing-grid: 10px;

$font-main: "Courier New", Courier, monospace;

$max-width-content: 1500px;

$canvas-width: 800px;
$canvas-height: 600px;

$horizontal-mode-ratio: 0.6667; //1:1.5 ratio